<!-- src/app/listar-pessoas/listar-pessoas.component.html -->
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas">
        <td *ngIf="pessoa.idade < 5">{{ pessoa.id }}</td>
        <td *ngIf="pessoa.idade < 5">{{ pessoa.nome }}</td>
        <td *ngIf="pessoa.idade < 5">{{ pessoa.idade }}</td>
        <td *ngIf="pessoa.idade < 5">
          <button [routerLink]="['/admin/pessoas/editar', pessoa.id]">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
  